
.die-1 {
  background-image: url('../images/dice-1-hi.png');
  background-size: cover;
}

.die-2 {
  background-image: url('../images/dice-2-hi.png');
  background-size: cover;
}

.die-3 {
  background-image: url('../images/dice-3-hi.png');
  background-size: cover;
}

.die-4 {
  background-image: url('../images/dice-4-hi.png');
  background-size: cover;
}

.die-5 {
  background-image: url('../images/dice-5-hi.png');
  background-size: cover;
}

.die-6 {
  background-image: url('../images/dice-6-hi.png');
  background-size: cover;
}

.highlighted {
  border: 2px solid yellow;
}
