
.header-wrapper{

  header{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: transparent;
    height: 110px;

  }
  #poker {
    width: 80px;
  }
  img {
    align-self: center;
    width: 17%;
    height: 65px;

  }
  p {
    align-self: center;
    font-size: 68px;
    text-align: center;
    text-rendering: optimizeLegibility;
    text-shadow: $text-shadow;
    color:rgba(234, 234, 234,0.9);
    }


  }
