
.die-one {
  background-image: url('../images/dice-1-hi.png');
  background-size: cover;
}

.die-two {
  background-image: url('../images/dice-2-hi.png');
  background-size: cover;
}

.die-three {
  background-image: url('../images/dice-3-hi.png');
  background-size: cover;
}

.die-four {
  background-image: url('../images/dice-4-hi.png');
  background-size: cover;
}

.die-five {
  background-image: url('../images/dice-5-hi.png');
  background-size: cover;
}

.die-six {
  background-image: url('../images/dice-6-hi.png');
  background-size: cover;
}

.die-red-red-one {
  background-image: url('../images/die-red-1.png');
  background-size: cover;
}

.die-red-two {
  background-image: url('../images/die-red-2.png');
  background-size: cover;
}

.die-red-three {
  background-image: url('../images/die-red-3.png');
  background-size: cover;
}

.die-red-four {
  background-image: url('../images/die-red-4.png');
  background-size: cover;
}

.die-red-five {
  background-image: url('../images/die-red-5.png');
  background-size: cover;
}

.die-red-six {
  background-image: url('../images/die-red-6.png');
  background-size: cover;
}
