@import "variables";
@import "header";
@import "dice";
*
{
   margin:0;
}
body {
  margin:0;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-attachment: fixed;


  background-image: -webkit-linear-gradient(to top, rgba(64, 59, 74, 0.7), rgba(231, 233, 187, 0.5)),url('../images/wood.jpg'); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(to top, rgba(64, 59, 74, 0.7), rgba(231, 233, 187, 0.5)),url('../images/wood.jpg'); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}
p{
  margin: 0;
}
button{
  height:45px;
  border-radius: $border-radius/2;
  border: none;
  width: 17%;
  font-size: 100%;
  font-weight: 500;
  box-shadow: $box-shadow;
  color:rgba(234, 234, 234,0.9);
  text-shadow: $text-shadow;
  background-color: rgba(221,217,218,0.8);
  align-self: center;
  justify-content: space-around;
  &:hover{
    background-color: rgba(221,217,218,0.4);
  }
}

.page-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  #game-container{
    display: flex;
    width: 70%;
    height: 450px;
    background: transparent;
    flex-direction: column;
    justify-content: space-around;
    border-radius: $border-radius;

    #cpu-container{
      display: flex;
      flex-wrap: wrap;
      width: 90%;
      height: 47%;
      justify-content: space-around;
      background-color: rgba(128,0,0,0.8);
      align-self: center;
      border-radius: $border-radius;
      box-shadow: $box-shadow;

      .square{
        width: 100px;
        height: 100px;
        background-color: floralWhite;
        align-self: center;
        border-radius: $border-radius;
        box-shadow: $box-shadow;

        img{
          width: 100%
        }
      }
    }
    #player-container{
      @extend #cpu-container;
      background-color: rgba(173,216,230 ,0.8 );

    }
  }

  .results-container{
    width: 65%;
    height:120px;
    background-color: transparent;
    color: rgba(173,216,230 ,1 );
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    text-shadow: $text-shadow;

    .score-wrapper{
      display: flex;
      flex-wrap: wrap;
      flex-basis: 50%;
      height: 120px;
      justify-content: space-around;
      flex-direction: column;

      p{
        flex-wrap: wrap;
        font-size: 120%;
        font-weight: lighter;
        align-self: center;
        height: 4%;
      }

      .cpu{
        color: rgba(128,0,0,0.9);
      }
    }

    .button-wrapper{
      @extend .score-wrapper;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      button{
        border-radius: $border-radius/2;
        border: none;
        width: 50%;
        font-size: 80%;
        font-weight: 500;
        padding: 3px;
        box-shadow: $box-shadow;
        color:rgba(234, 234, 234,0.9);
        text-shadow: $text-shadow;
        background-color: rgba(221,217,218,0.8);
        align-self: center;
        &:hover{
          background-color: rgba(221,217,218,0.4);


        }
      }
    }

  }
}
