@import "variables";
@import "header";
@import "dice";
*
{
  margin:0;
}
body {
  color:rgba(234, 234, 234,0.9);
  margin:0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-attachment: fixed;
  background-image: -webkit-linear-gradient(to top, rgba(64, 59, 74, 0.6), rgba(231, 233, 187, 0.5)),url('../images/wood.jpg');
  background-image: linear-gradient(to top, rgba(64, 59, 74, 0.6), rgba(231, 233, 187, 0.5)),url('../images/wood.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  text-transform: uppercase;
}

img {
  width: 100%;
  border-radius: $border-radius;
}

.nav-wrapper {
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  height: 150px;
  background: transparent;
  flex-flow: wrap;
  justify-content: space-around;
  text-shadow: $text-shadow;

  button{
    background-color: rgba(221,217,218,0.8);
    text-transform: uppercase;
    color: rgb(131, 30, 27);
    height: 32%;
    font-size: 18px;
    font-weight: 500;
    width: 50%;
    border: none;
    border-radius: 6px;
    box-shadow: $box-shadow;
    text-shadow: $text-shadow;

    &button:hover{
      background-color: rgba(221,217,218,0.6)-2%;
    }

  }
  .play-wrapper{
    display:flex;
    height: 100%;
    flex: 1;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
  }

  .score-wrapper{
    @extend .play-wrapper;
    p{
      color:rgba(173,216,230 ,1 );
    }
    .cpu{
      color:rgba(128,0,0,0.8);
    }
  }

  .button-wrapper{
    @extend .play-wrapper;
  }
}

#page-wrapper{

  height: 410px;
  display: flex;
  justify-content: center;


  .square{
    width: 100px;
    height: 100px;
    display: flex;
    align-self: center;
    background-color: floralWhite;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
  }

  #game-container{
    width: 80%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-wrap:wrap;
    font-weight: 500;
    font-size: 20px;
    text-shadow: $text-shadow;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;



    #cpu-container{
      display: flex;
      justify-content: space-around;
      align-self: center;
      flex-direction: row;
      width: 90%;
      height: 150px;
      background-color: rgba(128,0,0,0.8);
      border-radius: $border-radius;
      box-shadow: $box-shadow;

    }
    .results-wrapper{
      background: rgba(256,256,256,0.02);
      display: flex;
      width: 90%;
      flex-flow: row;
      justify-content: space-between;
      text-align: center;
      #wins{
        color:rgba(34,139,34,0.8);
        flex: 1
      }

      #result{
        color:rgba(255,140,0,0.8);
        @extend #wins;
      }

      #losses{
        color: rgba(220,20,60,0.8);
        @extend #wins;
      }
    }



    #player-container{
      @extend #cpu-container;
      background-color: rgba(173,216,230 ,1 );
    }
  }
}

#hidden-wrapper{
  @extend #page-wrapper;
  width: 80%;
  background-color:rgba(208, 202, 199,0.8);
  color: Orange;
  border-radius: $border-radius;
  flex-direction: column;
  color: rgb(131, 30, 27);
  text-shadow: $text-shadow;
  box-shadow: $box-shadow;
  .hidden-headline{
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content: center;
  }
  h2 {

  }
  .hidden-rules{
    margin-top: 15px;
    display: flex;
    height: 300px;
    justify-content: space-around;
    flex-direction: row;
    margin-left: 20px;
    p{
      line-height: 26px;
      letter-spacing: 0.1em;
      display: flex;
      justify-content: flex-start;
      width: 55%;
      flex-wrap: wrap;
      flex-direction: row;
      text-align: left;
      font-size: 20px;
    }
    .hands
    {
      @extend p;
      font-size: 14px;
      line-height:23px;
      color: black;
      width: 35%;
      margin-left: -40px;
    }
  }

}


footer {
  display: flex;
  font-size: 14px;
  background-color: transparent;
  letter-spacing: .08em;
  font-weight: 500;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  height: 30px;
  text-shadow: $text-shadow;


  .heart{
    color: red;
  }
  .name{
    color:#F15B31;
  }
}
